environment: dev
namespace: development-environments
replicas: 1
image: 0l4bode/swish-devsecops-proj:1.1
resources:
  requests:
    cpu: "500m"
    memory: "512Mi"
  limits:
    cpu: "1"
    memory: "1Gi"
